.image-escudo {
    height: 25px;
    width: auto;
    position: relative;
    text-align: left;
    vertical-align: middle;
    line-height: 1;
    padding: 6px 6px;
}
header {
    background-color: rgb(red, green, blue);
    min-height: 100px;
    color: white;
    font-size: 1.5rm;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-collapse: collapse;
}

body{
     background: url('https://img.elo7.com.br/product/original/1767A05/painel-campo-de-futebol-festa-futebol.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-style {
    background-color: white;
    opacity: 0.78;
}

.header-table {
    text-align: center;
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tb_pontos{
    text-align: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
table {
    border: solid;
    border-collapse: collapse;
    border-color: #d4cdcda9;
    padding: 14px;
}
table tbody tr td {
    line-height: 1px;
    border-top: 1px solid #4d4141a9;
}
.table_green {
    color: green;
}
.table_orange {
    color: orange;
}

.table_red {
    color: red;
}
.table_black {
    color: black;
}

.table_red:hover{
    background-color: rgb(237, 131, 131);
}
.table_green:hover {
    background-color: rgb(121, 212, 121);
}
.table_black:hover {
    background-color: rgb(97, 92, 92);
}
.table_orange:hover {
    background-color: rgb(243, 207, 141);
}